/* styles.css */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url('img/premium_photo-1661963874418-df1110ee39c1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
    border: 4px solid #333;
}

h1, h2 {
    text-align: center;
    color: #444;
    margin-top: 20px;
}

h2 {
    margin-top: 40px;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card h3 {
    margin: 0 0 10px;
    color: #0073e6;
}

.project-card a {
    text-decoration: none;
    color: #0073e6;
    font-weight: 600;
    transition: color 0.3s;
}

.project-card a:hover {
    color: #005bb5;
}

.social-links {
    text-align: center;
    margin: 30px 0;
}

.social-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #0073e6;
}

.footer-links {
    text-align: center;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    margin-top: 40px;
}

.footer-links a {
    color: #0073e6;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #005bb5;
}
